/* table {
    border-spacing: 10px;
} */
body {
    text-align: center;
}

.board {
    text-align: center;
    padding-top: 60px;
    /* width: 600px;
    height: 600px; */
    margin: auto;
}


.cell {
    min-height: 40px;
    min-width: 40px;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid rgb(228, 55, 55);
}

.show {
    min-height: 40px;
    min-width: 40px;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 171, 210);
    /* background-color: black; */
}

.show.mine {
    background-color: rgb(184, 184, 184);
}

.level {
    background-color: rgb(245, 135, 190);
    margin: 20px;
    padding: 20px;
    width: 100px;
    height: 50px;
    border-radius: 20%;
}

.cell:hover {
    background-color: rgb(236, 236, 236);
}
.mark {
    min-height: 40px;
    min-width: 40px;
    width: 50px;
    height: 50px;
}
.imuji {
    font-size: 50px;
}
button.imuji{
    border: none;
    background-color: white;
}